<!DOCTYPE html>
<html>
    <head>
                
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            >
        </script>
        <script> 
            $(function(){
            $("#header").load("header.html"); 

            });
        </script> 
        

    </head>
    <body>
    <div id="header"></div>
    <div style="margin-top: 150px;">
        <div style="display:flex; justify-content: space-around;">
            <button id='buyButton' style="display:flex; height:150px; width:250px; font-size: 40px; align-content: center;align-items: center;">
                <img src="images/cart.png" alt="icone" style="position:relative;width: 100px;height: auto; z-index:20; margin:0px;"/>Buy</button>
            <button id='sellButton' style="display:flex; height:150px; width:250px; font-size: 40px; align-content: center;align-items: center;">
                <img src="images/trade.png" alt="icone" style="position:relative;width: 100px;height: auto; z-index:20; margin:0px;"/>Sell</button>
        </div>
        <div style="display:flex; justify-content: center; margin-top:50px">
            <button style="display:flex; width:flex; height:150px; width:250px; font-size: 40px; align-content: center;align-items: center;">
            <img src="images/console.png" alt="icone" style="position:relative;width: 100px;height: auto; z-index:20; margin:0px;"/>Play</button>
        </div>
    </div>
  </body>
  <script type="text/javascript">
	document.getElementById('buyButton').onclick = function() { window.location.assign("http://localhost:8080/cardBuy"); };
	document.getElementById('sellButton').onclick = function() { window.location.assign("http://localhost:8080/cardSell"); };
	</script>
</html>
