<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Site Properties -->
    <title>Rooms</title>

    <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">

</head>

<body style="height: 100%">
    <div class="d-flex flex-column h-100">
        <header style="height: 80px; border-bottom: 1px solid black;"
            class="d-flex justify-content-between ps-5 pe-5 w-100">
            <button class="btn btn-primary" id="menuButton">Menu</button>
            <div>Create a room</div>
            <div>User</div>
        </header>

        <div style="flex-grow: 1;" class="d-flex align-items-center justify-content-center w-100">
            <fieldset class="p-4 border">
                <legend class="w-auto float-nonte">Create a room</legend>
                <div class="d-flex flex-column">
                    <input class="form-control mb-2" placeholder="Name">
                    <input class="form-control mb-4" placeholder="Bet">
                    <button class="btn btn-primary mb-2" id="buttonCreate">Create</button>
                    <button class="btn btn-secondary">Cancel</button>

                </div>
            </fieldset>
        </div>
    </div>

</body>

<!-- <script src="../static/lib/Semantic-UI-CSS-master/semantic.js"></script>
<script src="../static/lib/jquery-3.3.1.min.js"></script>
<script src="../static/js/header.js"></script> -->

<script type="text/javascript">
    document.getElementById('buttonCreate').onclick = function () { window.location.assign("card.select.html"); };
</script>

</html>