<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Site Properties -->
    <title>Rooms</title>

    <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">

</head>

<body>
    <header style="height: 80px; border-bottom: 1px solid black;" class="d-flex justify-content-between ps-5 pe-5">
        <button class="btn btn-primary" id="menuButton">Menu</button>
        <div>Create a room</div>
        <div>User</div>
    </header>

    

</body>

<script src="lib/Semantic-UI-CSS-master/semantic.js"></script>
<script src="lib/jquery-3.3.1.min.js"></script>
<script src="js/header.js"></script>

<script type="text/javascript">
    document.getElementById('menuButton').onclick = function () { window.location.assign("menu.html"); };
</script>

</html>